{% extends "base.html" %} {% block title %}Портфель{% endblock %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='portfolio.css') }}">

<div class="container">
  <h2 align="center">Акции: {{ portfolio.stocks_ratio_str }}</h2>
  <table>
    <tr>
      <th>Название</th>
      <th>Тикер</th>
      <th>Сектор</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Доля</th>
    </tr>
    {% for stock in portfolio.stocks %}
    <tr>
      <td>{{ stock.info.name }}</td>
      <td>{{ stock.info.ticker }}</td>
      <td>{{ stock.sector }}</td>
      <td>{{ stock.number }}</td>
      <td>{{ stock.price_str }}</td>
      <td>{{ stock.ratio_str }}</td>
    </tr>
    {% endfor %}
  </table>
</br>
  <h2 align="center">Облигации: {{ portfolio.bonds_ratio_str }}</h2>
  <table>
    <tr>
      <th>Название</th>
      <th>Тикер</th>
      <th>Сектор</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Доходность</th>
      <th>Доля</th>
    </tr>
    {% for bond in portfolio.bonds %}
    <tr>
      <td>{{ bond.info.name }}</td>
      <td>{{ bond.info.ticker }}</td>
      <td>{{ bond.sector }}</td>
      <td>{{ bond.number }}</td>
      <td>{{ bond.price_str }}</td>
      <td>{{ bond.info.real_ytm_pct_str }}</td>
      <td>{{ bond.ratio_str }}</td>
    </tr>
    {% endfor %}
  </table>
</br>
</br>
</br>
</br>
</br>
</div>
{% endblock %}
