{% extends "base.html" %} {% block title %}Портфель{% endblock %} {% block
content %} {% block style %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #333;
  }
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
</style>
{% endblock %}

<div class="container">
  <h2>Акции ({{ portfolio.stocks_ratio }})</h2>
  <table>
    <tr>
      <th>Название</th>
      <th>Тикер</th>
      <th>Сектор</th>
      <th>Количество акций</th>
      <th>Цена одной акции</th>
      <th>Цена акций в портфеле</th>
      <th>Доля в портфеле</th>
    </tr>
    {% for stock in portfolio.stocks %}
    <tr>
      <td>{{ stock.info.name }}</td>
      <td>{{ stock.info.ticker }}</td>
      <td>{{ stock.info.sector }}</td>
      <td>{{ stock.number }}</td>
      <td>{{ stock.price }}</td>
      <td>{{ stock.total_price }}</td>
      <td>{{ stock.ratio }}</td>
    </tr>
    {% endfor %}
  </table>

  <h2>Облигации ({{ portfolio.bonds_ratio }})</h2>
  <table>
    <tr>
      <th>Название</th>
      <th>Тикер</th>
      <th>Сектор</th>
      <th>Количество облигаций</th>
      <th>Цена одной облигации</th>
      <th>Цена облигаций в портфеле</th>
      <th>Доля в портфеле</th>
    </tr>
    {% for bond in portfolio.bonds %}
    <tr>
      <td>{{ bond.info.name }}</td>
      <td>{{ bond.info.ticker }}</td>
      <td>{{ bond.info.sector }}</td>
      <td>{{ bond.number }}</td>
      <td>{{ bond.price }}</td>
      <td>{{ bond.total_price }}</td>
      <td>{{ bond.ratio }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
